.wrapper{
    background-image: url("./assets/backgrounds/h_img.jpg");
    /* background-size: 100%; */
    background-repeat: no-repeat;
    /* height: 60%; */
    text-align: center;
    color: white; 
    background-size: cover; 
    background-position: center center;    
}
.logo{
    margin-top: 33vh;

}
.mouseclick{
    margin-top: 155px;
    margin-bottom: 20px;
}

.wrapper2{
    margin-top: 10px;
    text-align: center;
}
.wrapper3{
    background-image: url("./assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 120px 0px;

}
